

     
      <nav class="col-md-8 col-md-offset-5">
     
         <ul class="nav navbar-nav navbar-centre" >
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Catalogue", cat_path %></li>
           <!-- if logged in, change to log out - destory customer session path -->
         <% if customer_signed_in? %>
          <li><%= link_to 'Logout', destroy_customer_session_path, :method => :delete %></li>
         <% else %>
            <li><%= link_to "Login", new_customer_session_path %></li>
            <% end %>
            <li><%= link_to "Orders", orders_path %></li>
            <!-- if admin, profiles_path, if user current_customer profile -->
            <li><%= link_to "Profile", profiles_path %></li>
          
        </ul>
      </nav>
     <center>
      <div class="page-menu_top">
</center>
